<form class="was-validated container" style="padding-top:1rem;padding-bottom:1rem;" #activityForm="ngForm" *ngIf="data; else loader">

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-outline-secondary" (click)="onBack($event)">Back</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button class="btn btn-outline-dark" (click)="onSave($event)">Save</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <button class="btn btn-outline-primary" (click)="onSubmit($event)"
                [disabled]="!activityForm.valid">Submit</button>
        </div>
    </div>


<div class="vertical-layout row"  
>

</div>

</form>

<ng-template #loading>
	<div class="row align-items-center justify-content-center">
		<div class="loader text-center"></div>
	</div>			
</ng-template>
