<form class="was-validated container" style="padding-top:1rem;padding-bottom:1rem;" #step1Form="ngForm" *ngIf="data; else loader">

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-outline-secondary" (click)="onBack($event)">Back</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button class="btn btn-outline-dark" (click)="onSave($event)">Save</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <button class="btn btn-outline-primary" (click)="onSubmit($event)"
                [disabled]="!step1Form.valid">Submit</button>
        </div>
    </div>


<div class="vertical-layout row"  
>

  	<div class="layout-item col-md-12">
  		
<div class="vertical-layout row"  
>

  	<div class="layout-item col-md-12">
  		
<div class="vertical-layout row"  
>

<div class="card iq-panel" style="width:100%">
  <div class="card-header iq-panel-heading">
    <span class="iq-panel-title">Person</span>
    <span style="float:right;font-size:0.6em;cursor: pointer;text-decoration: underline;padding-left: 1rem;padding-top: 0.3rem;" (click)="hidePerson=!hidePerson"><i class="fa fa-lg" [ngClass]="{'fa-chevron-left': hidePerson, 'fa-chevron-down': !hidePerson}"></i></span>
  </div>
  <div *ngIf="!hidePerson" class="card-body row iq-panel-body">
  	<div class="layout-item col-md-12">
  		
<div class="vertical-layout row"  
>

<div class="card iq-panel" style="width:100%">
  <div class="card-header iq-panel-heading">
    <span class="iq-panel-title">Person Address</span>
    <span style="float:right;font-size:0.6em;cursor: pointer;text-decoration: underline;padding-left: 1rem;padding-top: 0.3rem;" (click)="hideId5057=!hideId5057"><i class="fa fa-lg" [ngClass]="{'fa-chevron-left': hideId5057, 'fa-chevron-down': !hideId5057}"></i></span>
  </div>
  <div *ngIf="!hideId5057" class="card-body row iq-panel-body">
  	<div class="layout-item col-md-12">
  		<!-- text -->
<input class="form-control form-control iq-input iq-input-text"
       id="id5060"
       type="text"
       name="person.address.city"
       title="City"
       placeholder="City"
       [(ngModel)]="data.person.address.city"
       [readonly] = "false"
       #inputid5060="ngModel">


  	</div>
  	<div class="layout-item col-md-12">
  		<!-- text -->
<input class="form-control form-control iq-input iq-input-text"
       id="id5062"
       type="text"
       name="person.address.line1"
       title="Line1"
       placeholder="Line1"
       [(ngModel)]="data.person.address.line1"
       [readonly] = "false"
       #inputid5062="ngModel">


  	</div>
  	<div class="layout-item col-md-12">
  		<!-- text -->
<input class="form-control form-control iq-input iq-input-text"
       id="id5063"
       type="text"
       name="person.address.line2"
       title="Line2"
       placeholder="Line2"
       [(ngModel)]="data.person.address.line2"
       [readonly] = "false"
       #inputid5063="ngModel">


  	</div>
  	<div class="layout-item col-md-12">
  		<!-- text -->
<input class="form-control form-control iq-input iq-input-text"
       id="id5059"
       type="text"
       name="person.address.id"
       title="Id"
       placeholder="Id"
       [(ngModel)]="data.person.address.id"
       [readonly] = "false"
       #inputid5059="ngModel">


  	</div>
  </div>
</div>
</div>

  	</div>
  	<div class="layout-item col-md-12">
  		
<div class="horizontal-layout row"  
>

  	<div class="layout-item col-md">
  		<!-- text -->
<input class="form-control form-control iq-input iq-input-text"
       id="Person.id"
       type="text"
       name="person.id"
       title="Id"
       placeholder="Id"
       [(ngModel)]="data.person.id"
       [readonly] = "false"
       #inputPersonid="ngModel">


  	</div>
  	<div class="layout-item col-md">
  		
<div class="horizontal-layout row"  
>

</div>

  	</div>
  	<div class="layout-item col-md">
  		
<div class="horizontal-layout row"  
>

</div>

  	</div>
</div>

  	</div>
  	<div class="layout-item col-md-12">
  		
<div class="horizontal-layout row"  
>

  	<div class="layout-item col-md">
  		<!-- text -->
<input class="form-control form-control iq-input iq-input-text"
       id="Person.lastName"
       type="text"
       name="person.lastName"
       title="Last Name"
       placeholder="Last Name"
       [(ngModel)]="data.person.lastName"
       [readonly] = "false"
       #inputPersonlastName="ngModel">


  	</div>
  	<div class="layout-item col-md">
  		<!-- text -->
<input class="form-control form-control iq-input iq-input-text"
       id="Person.firstName"
       type="text"
       name="person.firstName"
       title="First Name"
       placeholder="First Name"
       [(ngModel)]="data.person.firstName"
       [readonly] = "false"
       [required]="true"
       #inputPersonfirstName="ngModel">

<div *ngIf="inputPersonfirstName.invalid && (inputPersonfirstName.dirty || inputPersonfirstName.touched)" class="invalid-feedback">
  <div [hidden]="!inputPersonfirstName.errors.required">
    Reqqqqquired!!
  </div>
</div>

  	</div>
  	<div class="layout-item col-md">
  		
<div class="horizontal-layout row"  
>

</div>

  	</div>
</div>

  	</div>
  </div>
</div>
</div>

  	</div>
</div>

  	</div>
</div>

</form>

<ng-template #loading>
	<div class="row align-items-center justify-content-center">
		<div class="loader text-center"></div>
	</div>			
</ng-template>
