<div class="modal-header">
    <h4 class="modal-title pull-left">Import from Excel</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="form-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" name="file" [(ngModel)]="file" (change)="onFileChange($event)" multiple="false" accept=".xlsx">
            <label class="custom-file-label" for="file">Choose .xlsx</label>
        </div>
    </div>

    <div *ngIf="loaded">
        <div class="form-group">
          <label for="sheetName">Choose Sheet</label>
          <select class="form-control" name="sheetName" id="sheetName" [(ngModel)]="sheetName" (change)="onSheetNameChange()">
              <option *ngFor="let name of sheetNames" [value]="name">{{name}}</option>
          </select>
        </div>

        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Rows range</span>
                          </div>
                          <input type="text" aria-label="First row" min="0" [max]="rows.last" class="form-control" [(ngModel)]="rows.first">
                          <input type="text" aria-label="Last row" [min]="rows.first" [max]="data.length-1" class="form-control" [(ngModel)]="rows.last">
                        </div>                        
                    </td>
                </tr>
                <tr *ngFor="let col of columns">
                    <td>{{col.title}}</td>
                    <td>&lt;==</td>
                    <td>
                        <select class="form-control" [name]="col.prop" [(ngModel)]="col.mapTo">
                          <option value="">None</option>
                          <option *ngFor="let colName of columnNames" [value]="colName">{{colName}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" (click)="isPreviewCollapsed = !isPreviewCollapsed"
            [attr.aria-expanded]="!isPreviewCollapsed" aria-controls="collapseBasic">Xlsx Preview
        </button>

        <div id="collapseBasic" [collapse]="isPreviewCollapsed" style="margin-top: 1em;">
            <div class="well well-lg card card-block card-header">
                <div [innerHTML]="preview"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-default" (click)="importData();bsModalRef.hide();">Import</button>
</div>