.file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #244C66;
    display: inline-block;
	border-radius: 5px;
    padding: 5px 5px;
}

.file:focus + label,
.file + label:hover {
    background-color: #007bff;
}

.file + label {
	cursor: pointer; /* "hand" cursor */
}

.file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.file + label * {
	pointer-events: none;
}