<div style="cursor: pointer">
    <span class="datatable-header-cell-label draggable">{{column.name}}</span>
    <span (click)="sort()" style="margin-left: 5px;">
        <i *ngIf="$sort === -1" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
        <i *ngIf="$sort === 0" class="fa fa-sort" aria-hidden="true"></i>
        <i *ngIf="$sort === 1" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
    </span>

	<select class="form-control form-control-sm" [(ngModel)]="flt.operator" (change)="setOperator(flt.operator)">
		<option *ngFor="let op of operators" [value]="op.id" [label]="op.label2"></option>
	</select>
    <input *ngIf="flt.operator !== 'any'" type="text" class="form-control form-control-sm" [value]="flt.value" (keyup)="emit(valueInput.value)" #valueInput>
</div>