/* NAVIGATION & MENUS */

nav {
  position: fixed;
  z-index: 998;
} /* navigation */

nav.navbar.navbar-expand.navbar-light.panel-top {
  background-color: #f8f9fa !important;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.25);
} /* navigation */

nav.navbar-brand img {
  height: 56px;
} /* logo */

.navbar-brand:first-child {
  margin: 0 30px 0 16px;
} /* logo margins */

.navbar-brand {
  color: #244C66 !important;
  font-weight: 500;
  letter-spacing: 0.025em;
} /* company name */

.left-menu-container {
  padding-top: 4px;
  border-top: 1px solid rgba(0,0,0,.125);
} /* left menu */

.left-menu .navbar-nav .nav-item {
  height: 48px;
  display: flex;
  align-items: center;

} /* left menu items */

.left-menu .navbar-nav .nav-link {
  color: #244C66;
  font-size: 15px;
  padding: 0;
  width: 100%;
} /* left menu items' links */

.left-menu .navbar-nav .nav-link:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  -moz-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
}


/* BUTTONS */

.btn {
  font-size: 15px;
} /* all buttons */

.btn.btn-outline-secondary {
  font-size: 15px!important;
  border-color: #ced4da;
} /* search button */

button {
  text-transform: capitalize;
} /* buttons text */

.btn.btn-default.btn-primary.iq-button {
  margin-left: 16px;
} /* buttons alignment */

.btn.btn-secondary.btn-sm.dropdown-toggle {
  text-transform: capitalize;
  background-color: #244C66;
  border-color: #244C66;
  font-size: 15px;
  vertical-align: middle;
} /* export button */

.btn-primary {
  background-color: #244C66 !important;
  border-color: #244C66 !important;
} /* buttons */

.btn-primary.focus, .btn-primary:focus {
  border-color:#244C66;
  -webkit-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  -moz-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
} /* button focus ring */


/* INPUT FIELDS */

input {
  font-size: 15px!important;
} /* all inputs */

.form-control:focus {
  border-color: #ced4da !important;
  -webkit-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  -moz-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  box-shadow:0 0 0 .2rem rgba(36,76,102,.25) !important;
} /* focus color of input fields */

.form-control.iq-selectlist {
  font-size: 15px;
} /* dropdown input fields */

.form-control.iq-selectlist:focus {
  outline: none;
  border-color: #ced4da !important;
  -webkit-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  -moz-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
} /* dropdown input fields focus */

input.form-control.iq-datepicker-input {
  background-color: transparent;
  border-color: #ced4da;
} /* date area */

.input-group-append.iq-datepicker-addon > .btn.btn-default {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
} /* datepicker icon area */

input.form-control.iq-datepicker-input:focus,
.input-group-append.iq-datepicker-addon > .btn.btn-default:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  -moz-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
} /* date area and datepicker icon focus ring */

bs-datepicker-navigation-view {
  display: flex;
  justify-content: space-between;
} /* middle alignment for calendar */

.bs-datepicker-head {
     background-color: #244C66 !important;
} /* calendar header background color */

.bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #244C66 !important;
} /* calendar selected day color */

.bs-datepicker-body table td.week span {
    color: #9aaec1! important;
} /* calendar days */

.bs-datepicker-body th[aria-label="weekday"] {
  padding-top: 8px;
  padding-bottom: 12px;
} /* weekday row margins */

.bs-datepicker-body td.week {
  padding-right: 12px;
} /* week number column margins */

.bs-datepicker-body td[role="gridcell"] {
  color: #244C66;
} /* day colors */

.form-control.iq-input {
  border: 1px solid #ced4da !important;
} /* input fields */

input.form-check-input.iq-checkbox-check.ng-pristine.ng-valid.ng-touched:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  -moz-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
} /* checkbox focus */

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
  color: #495057 !important;
} /* approved text */

.form-check-label.iq-checkbox-text {
    font-size: 15px;
} /* approved text */

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #ced4da;
} /* border color of search bar */




/* PANELS */

.card {
    margin-bottom: 8px;
} /* panel sections */

.card-header.iq-panel-heading {
  background-color: #244C66;
  color: #ffffff;
} /* card headers */




/* TABLE */

.ngx-datatable.bootstrap datatable-body {
  -webkit-box-shadow: inset -10px 0px 16px 0px rgba(36,76,102,0.24);
  -moz-box-shadow: inset -10px 0px 16px 0px rgba(36,76,102,0.24);
  box-shadow: inset -10px 0px 16px 0px rgba(36,76,102,0.24);
} /* table body shadow */

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    border: none;
} /* table rows */

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
    background-color: #244C66;
} /* table active rows */

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active .btn-outline-danger {
    color: #ffffff;
} /* table delete icons in active rows */

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active .btn-outline-danger:hover {
    color: #dc3545;
    background-color: #ffffff;
} /* table delete icons' hover in active rows */

.ngx-datatable.bootstrap {
    margin-bottom: 8px;
} /* table section */

.datatable-header {
    border: 1px solid #244C66;
    border-bottom: none;
    background-color: #244C66;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 12px;
} /* header of table section */

.datatable-body {
    border: 1px solid #244C66;
    margin-bottom: 4px;
} /* body of table section */

datatable-body-cell.datatable-body-cell .datatable-body-cell-label button.btn.btn-outline-danger.btn-sm {
  border: none;
} /* table delete icons */

.fa.fa-trash {
    padding-left: 2px;
} /* table delete icon alignment */

datatable-pager.datatable-pager ul.pager li a {
  color: #545454!important;
} /* table pager page links color */

datatable-pager.datatable-pager ul.pager li a:hover {
  color: #ededed!important;
} /* table pager page links color on hover */

datatable-pager.datatable-pager ul.pager li.active a {
  color: #ededed!important;
} /* table pager active page links color */

datatable-pager.datatable-pager ul.pager li.disabled a {
  color: #ededed!important;
} /* table pager disabled page links color */




/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  background-color: #f8f9fa !important;
  height: 56px !important;
  padding: 8px 142px;
  -webkit-box-shadow: 0px -2px 8px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -2px 8px -2px rgba(0,0,0,0.25);
  box-shadow: 0px -2px 8px -2px rgba(0,0,0,0.25);
} /* footer */

footer .nav-link {
  padding: 0.15rem 0.5rem !important;
  font-size: 0.7em !important;
} /* footer text spacing */

footer .nav-link a {
  color: #212529;
  text-decoration: underline;
} /* footer link focus */

footer .nav-link:focus, footer .nav-link a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  -moz-box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
  box-shadow: 0 0 0 .2rem rgba(36,76,102,.25) !important;
} /* footer link focus */

.form-control.ng-invalid {
    border-color: red !important;
}

.form-control.ng-valid {
    border-color: #ced4da !important;
}

/* RESPONSIVE */

/* Extra small devices */
@media (max-width: 575px) {
  .main-content.with-left-menu {
    width: 90%;
    margin-left: 5%;
  } /* main content */

  .search-bar {
    min-width: 100% !important;
    margin-top: 16px;
  } /* search bar width*/

  footer {
    height: 60px !important;
    padding: 3px 8px;
  } /* footer */

  footer .nav-link {
    font-size: 0.5em !important;
  } /* footer text spacing */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .main-content.with-left-menu {
    width: 90%;
    margin-left: 5%;
  } /* main content */

  .search-bar {
    min-width: 50% !important;
  } /* search bar width*/

  footer {
    padding: 8px 40px;
  } /* footer */
}

/* Medium devices (tablets, 768px and up) Part 1 */
@media (min-width: 768px) and (max-width: 923px) {
  .main-content.with-left-menu {
    width: 90%;
    margin-left: 5%;
  } /* main content */

  .search-bar {
    min-width: 50% !important;
  } /* search bar width*/

  footer {
    padding: 8px 80px;
  } /* footer */
}

/* Medium devices (tablets, 768px and up) Part 2 */
@media (min-width: 924px) and (max-width: 991px) {
  .main-content.with-left-menu {
    width: 90%;
    margin-left: 5%;
  } /* main content */

  .search-bar {
    min-width: 45% !important;
  } /* search bar width*/

  footer {
    padding: 8px 80px;
  } /* footer */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .left-menu {
    width: 200px;
  } /* left menu */

  .search-bar {
    min-width: 32% !important;
  } /* search bar width*/

  .main-content.with-left-menu {
    width: calc(100% - 250px);
    margin-left: 225px;
  } /* main content */
}

/* Extra large devices (large desktops, 1200px and up) Part 1 */
@media (min-width: 1200px) and (max-width: 1399px) {
  .left-menu {
    width: 200px;
  } /* left menu */

  .main-content.with-left-menu {
    width: calc(100% - 250px);
    margin-left: 225px;
  } /* main content */
}

/* Extra large devices (large desktops, 1200px and up) Part 2 */
@media (min-width: 1400px) {

}
