/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

/*UI styling*/
@import './ui.css';

.company-name {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    float: left;
    font-size: 20px;
    padding: 10px 50px 25px 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.default-header {
    overflow: hidden;
}

.default-header img {
    float: left;
    margin: 15px 0px 15px 15px;
}

.form-root {
	width: 900px;
}
/* Handheld */
@media (min-width: 320px) and (max-width: 568px) {
	.form-root {
		width: 568px;
	}
}
 
/* Tablet */
@media (min-width: 600px) and (max-width: 800px) {
	.form-root {
		width: 800px;
	}
}

.datatable-footer {
    background: transparent !important;
}

.page-count {
    color: black;
}

.ngx-datatable.bootstrap .datatable-body .progress-linear {
    display: block;
    position: relative;
    width: 100%;
    height: 17px;
        background: transparent;
    position: absolute; }
    .ngx-datatable.bootstrap .datatable-body .progress-linear .container {
      display: block;
      position: relative;
      overflow: hidden;
      width: 100%;
        background: transparent;
      height: 17px; }
      .ngx-datatable.bootstrap .datatable-body .progress-linear .container .bar {
        background: transparent;
        background-image: url("/assets/loader.gif");
        margin:auto;
        width: 160px;
        height: 17px; }

.soft {
    font-size: 80%;
    color: gray;
    display: block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: #A392D3 !important;
    fill-opacity: 0.35 !important;
}

.clicable-visual .djs-visual:hover > :nth-child(1) {
    fill: #A392D3 !important;
    fill-opacity: 0.35 !important;
}

.clicable-visual .djs-visual:hover {
    cursor: pointer;
}

.token {
    background: #A392D3;
    color: #fff;
    border-radius: 13px;
    padding: 0px 8px;
    border: 2px solid #7958D3;
}

.modal-full-screen.modal-dialog {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-full-screen .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.modal-full-screen .modal-body {
    height: calc(100vh - 143px);
}

.modal-full-screen .bjs-container {
    height: calc(100vh - 160px) !important;
}

@import './project.css';

/* Table dynamic pagination */
.page-limit-container {
    float: right;
    margin-top: 0.5em;
}

.page-limit-container > label {
    color: black;
    padding-right: 1em;
}

.page-limit-container > select {
    background: white;
    padding: 5px;
    border-radius: 5px;
}
