<nav class="navbar navbar-expand navbar-light panel-top" [attr.style]="backgroundColor">
    <a class="navbar-brand">
        <img src="assets/company-logo.png" title="{{companyName}}">
    </a>
    <a class="navbar-brand" href>{{companyName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
	<div class="collapse navbar-collapse"></div>
    <form *ngIf="principal" class="form-inline pull-right">
        <div style="font-size: .875rem;">
            <p style="margin-bottom: 0px">
                Welcome, <button class="btn btn-link btn-sm" style="padding-top: 0px;" (click)="onLogout($event)" title="Logout">{{principal}}</button>
            </p>
		        </div>
    </form>
</nav>

<div>
    <span defaultOverlayTarget></span>
    <router-outlet></router-outlet>
</div>

<footer [attr.style]="backgroundColor">
    <div class="pull-left">
        <div class="nav-link">{{companyWWW}}</div>
        <div class="nav-link">{{companyAddress}}</div>
    </div>
    <div class="pull-right">
        <div class="nav-link">Email:
            <a href="mailto:{{companyEmail}}">{{companyEmail}}</a>
            <a></a>
        </div>
        <div class="nav-link">
            <span>Phone: {{companyPhone}}</span>
            <span>, </span>
            <span>Fax: {{companyFax}}</span>
        </div>
    </div>
</footer>